<!-- Zona de Bienvenida -->
<div class="bloque">
	<h2>¡Bienvenid<%= oa %> a nuestro sitio de <em>Recomendación de Películas</em>!</h2>
	<ul type="disc">
		<li>
			Queremos ayudarte a resolver el típico problema de:
			<ul>
				<li><em>No sé qué película ver</em></li>
				<li><em>Quiero ver una película que me deje algo bueno</em></li>
			</ul>
		</li>
		<li>Te ofrecemos películas con valores afines a los de la <b>Iglesia Católica Apostólica Romana</b>, y te orientamos dónde verla.</li>
		<li>Usamos cookies para que tengas una mejor experiencia de navegación.</li>
	</ul>
</div>
