<!-- En qué consiste -->
<div class="bloque">
	<h2>En qué consiste este sitio</h2>
	<ul type="disc">
		<li>
			Somos <b>facilitadores</b> entre quienes <em>ofrecen</em> la película y quienes quieren <em>verla</em>.
			<ul>
				<li><u>Orientamos</u> al usuario sobre qué película ver.</li>
				<li><u>Vinculamos</u> con los sitios donde se pueden ver.</li>
			</ul>
		</li>
		<li>
			Con tu usuario podés <b>personalizar</b> tus preferencias sobre:
			<ul>
				<li>Qué películas ya viste.</li>
				<li>Cuáles querés marcar para ver.</li>
				<li>Cuáles no te interesan ver.</li>
			</ul>
		</li>
		<li>
			Si querés, también podés influir en nuestro sitio.
			<ul>
				<li><b>Actualizar</b> nuestro catálogo de películas.</li>
				<li><b>Calificar</b> las peliculas.</li>
			</ul>
		</li>
	</ul>
</div>
