<%- include("FM-0TituloPrincipal") %>
<section id="centro">
	<!-- Zona de Vitraux -->
	<%- include("MN-Vitraux") %>

	<!-- Zona de Gráficos -->
	<div id="zonaDeGraficos">
		<div id="cuadro" class="bordeConSombra">
			<div id="grafico"></div>
		</div>
	</div>
</section>
