<% if (registro.statusRegistro_id != inactivo_id) { %>
	<!-- Links -->
	<div id="tituloInfoDetalle" class="relative">
		<h3>Links para verl<%= oa %></h3>
	</div>
	<%- include("PR1-Detalle-1Links") %>
<% } %>
<!-- Información -->
<%- include("PR1-Detalle-2Info") %>
