body {
	#cuerpoFooter {
		height: 100%;
		#cuerpo {
			flex-direction: column; align-items: center;
			#tabla {
				position: absolute; translate: 0 -50%; top: calc(50% + var(--altoTituloPrincipal) / 2);
				max-height: calc(var(--altoCuerpoMenosTitulo) - 20px); overflow: auto; border-radius: 10px;
				background-color: var(--gris-claro);
				#titulos #cantClientes {flex-grow: 1; line-height: 0; text-align: center;}
				table {
					border-spacing: 10px 7px; margin: auto; min-width: 200px;
					font-size: 1.2rem;
					tr {
						i {font-size: 1rem; cursor: pointer;}
						.cliente, .ruta {text-align: left;}
						.fecha {text-align: right;}
						.ruta span {font-style: italic; font-size: 1rem; margin-left: 2px;}
					}
				}
			}
		}
	}
}
