/* Ancho */
@media (width <= 1267px) {
	#cuerpoFooterImgDer {
		#imgDerecha img {display: none;}
		#cuerpoFooter {width: 100vw;}
	}
}

/* Alto */
@media (height <= 450px) {section #cuadroDeTexto {padding-block: 25px;}}
