/* Cuerpo */
section {
	#cuadroDeTexto {
		padding: 30px; padding-right: 15px; max-height: 90%;

		#contenido {
			overflow-y: auto; padding-right: 15px; padding-bottom: 1px;
			/* CUADRO DE TEXTO - TEXTO */
			.bloque:nth-child(n+2) {margin-top: 15px;}
			.bloque > ul > li {
				b {font-variant: small-caps; }
				:where(ul, ol) li {margin-top: 3px; font-size: 0.9em;}
				&:has(label input:not(:checked)) {
					.mostrar {display: inline;}
					.noMostrar {display: none;}
					.textoOculto {display: none;}
				}}
				&:has(label input:checked) {
					.mostrar {display: none;}
					.noMostrar {display: inline;}
					.textoOculto {display: block;}
				}
				label {
					cursor: pointer; font-size: .85em;
					border-radius: 5px; padding: 1px 5px;
					background-color: var(--verde-oscuro);
					&:hover {scale: 1.2;}
					span {color: var(--gris-claro) !important;}
				}
				.textoOculto {
					color: var(--verde-oscuro); font-style: italic;
					i {border: none; cursor: pointer;}
				}
		}
	}
}

/* Miscelaneas */
mark {background: var(--marron); color: snow; border-radius: 5px; padding: 0 5px; font-weight: bold;}
