#cuerpo #cuadroDeTexto {--escala: 1; --anchoMax: calc(calc(100% - 236px) * 0.85);} /* 236 es el ancho del vitraux */

/* Ancho */
@media (width <= 1267px) {
	#cuerpo #zonaDeVitraux {display: none;}
	@media (orientation: landscape) {#cuerpo #cuadroDeTexto {--anchoMax: 85%;}}
	@media (orientation: portrait) {#cuerpo #cuadroDeTexto {--anchoMax: 100%;}}
}

/* Alto */
@media (height <= 450px) {
	#cuerpo #tituloPrincipal {display: none;}
	body {--altoTituloPrincipal: 0px}
}

/* Ancho y Alto */
@media (width > 700px) and (height > 540px) {#cuerpo #cuadroDeTexto {--escala: 1.1;}}
@media (width > 750px) and (height > 580px) {#cuerpo #cuadroDeTexto {--escala: 1.2;}}
