/* Parado */
@media (orientation: portrait) {
	#cuerpoFooter {z-index: 1;}
	#cuadroDeTexto {padding-block: 30px; max-height: 90%;}
}

/* Acostado */
@media (orientation: landscape) {
	/* Laptop */
	@media (width > 1250px) {#cuerpo #cuadroDeTexto {--escala: 1.2; padding-block: 30px; max-height: 90%;}}

	/* Acostado */
	@media (width <= 1250px) {
		#cuerpo #cuadroDeTexto {
			--escala: 1; padding-block: 25px 15px; max-height: 100%;
			form {
				#encabForm {display: none;}
				.iconos {margin-top: 15px !important;}
			}
		}
		#cuerpo #tituloPrincipal {display: none;}
		body {--altoTituloPrincipal: 0px}
	}
}
