<div id="iconoUsuario" class="scale" <% if (locals.usuario) { %>title="Hola <%= locals.usuario.apodo %>"<% } %>>
	<% if (locals.usuario) { %>
		<div id="imagenUsuario">
			<% const avatarUsuario = "/imgsComp/" + (usuario.avatar ? ("1-Usuarios/" + usuario.avatar) : "9-Varios/Usuario-SinRostro.jpg") %>
			<img src="<%= avatarUsuario %>" class="clickIcono">
		</div>
	<% } else { %>
		<a href="/usuarios/login">
			<i class="fa-regular <%= iconos.login %> iconoHeader" title="Login/Registrarse"></i>
		</a>
	<% } %>
</div>
