/* Encabezado */
#cuerpo #encabezado {
	display: flex; flex-direction: row; justify-content: space-between; align-items: center;
	padding: 10px 20px; border: none;
	position: sticky; top: 0px; z-index: 6;

	/* Status */
	&.st_creado:not(&.rechazar) {
		background-color: var(--celeste-claro); color: var(--azul-oscuro);
		border-bottom: 3px solid var(--azul-oscuro);
		button {background-color: var(--azul-oscuro); color: var(--gris-claro);}
	}
	&.st_creadoAprob, &.st_aprobado {
		background-color: var(--azul-oscuro); color: var(--gris-claro);
		button {background-color: var(--celeste-claro); color: var(--azul-oscuro);}
	}
	&.st_inactivar, &.inactivar, &.rechazar {
		background-color: var(--rojo-claro); color: var(--rojo-oscuro);
		border-bottom: 3px solid var(--rojo-oscuro);
		button {background-color: var(--rojo-oscuro); color: var(--gris-claro);}
	}
	&.st_recuperar, &.recuperar {
		background-color: var(--verde-claro); color: var(--verde-oscuro);
		border-bottom: 3px solid var(--verde-oscuro);
		button {background-color: var(--verde-oscuro); color: var(--gris-claro);}
	}
	&.st_inactivo:not(&.recuperar), &.cambiarMotivo {
		background: var(--rojo-oscuro); color: var(--gris-claro);
		button {background-color: var(--rojo-claro); color: var(--rojo-oscuro);}
	}

	/* &:has(#colCap) #nombres {max-width: 290px;} */
	#nombres h3 {font-weight: normal; font-size: 1rem; margin-top: 3px;}
	#colCap {
		display: flex; flex-direction: column; align-items: flex-end;
		#cantTempsCaps button {border-radius: 10px; padding: 5px 10px; text-align: center; margin-left: 5px;}
		#nombreCol {
			margin-bottom: 2px; max-width: max-content; display: flex; flex-direction: row;
			button {margin-left: 3px; padding: 2px 5px; border-radius: 5px; border: none; font-weight: bold;}
		}
		#cambiaTempCap {
			display: flex; flex-direction: row; justify-content: flex-end; align-items: center;
			.pack {
				line-height: 1; margin-right: 5px; white-space: nowrap;
				i {
					font-size: 1.1rem; background-color: transparent;
					&:first-child {margin-right: 3px;}
				}
			}
			select:is(#numTemp, #numCap) {border-radius: 5px; color: fieldtext;}
			#numTemp {margin-right: 8px;}
			select#numCap {width: 20px; transform-origin: left bottom;}
			:where(a i, select):hover {scale: 1.5;}
		}
	}
}
