<!-- Nuestra Misión -->
<div class="bloque">
	<h2>Nuestra Misión</h2>
	<ul type="disc">
		<li><b>Hacerle accesible</b> a la mayor cantidad posible de personas, las películas y colecciones que cumplan estas condiciones o alguna de ellas:</li>
		<ul>
			<li><em>Que contribuyan a conocer mejor a <u>la Iglesia Católica</u>.</em></li>
			<li><em>Que inspiren a vivir con <u>valores afines</u> a esta Iglesia, y en nada la ofendan.</em></li>
		</ul>
		<li><b>Promover la producción</b> y distribución de este tipo de películas y colecciones, mediante su difusión y desalentando la violación de los <a href="derechos-de-autor"><u>derechos de autor</u></a>.</li>
	</ul>
</div>
<!-- Visión que tenemos -->
<div class="bloque">
	<h2>Nuestra Visión</h2>
	<ul type="disc">
		<li>Que la relación con Dios sea natural y espontánea en nuestra cultura.</li>
		<li>Que las personas afiancemos nuestro arraigo en Cristo y en la Iglesia por Él fundada.</li>
	</ul>
</div>
