<!-- Quiénes Somos -->
<div class="bloque">
	<h2>Quiénes somos</h2>
	<ul type="disc">
		<li>Somos un equipo en formación surgido en Argentina, de personas laicas con un sacerdote asesor.</li>
		<li>Todos profesamos nuestra fe en la <b>Iglesia Católica Apostólica Romana</b>.</li>
		<li>Nuestro lema es <em>Evangelicemos la Cultura</em> <mark>ELC</mark>, para que esté todo instaurado en Cristo.</li>
		<li>Con este emprendimiento, lo hacemos difundiendo el cine alineado a ese fin.</li>
	</ul>
</div>
