<div class="bloque">
	<h2>Por qué incluimos Películas no Católicas en Nuestro Sitio</h2>
	<ul type="disc">
		<li>Difundimos especialmente películas relacionadas con la <b>Iglesia Católica</b>.</li>
		<li>También difundimos otras que no lo están, pero comparten valores afines. Lo hacemos, basados en lo establecido por nuestra Iglesia en el Concilio Vaticano II:</li>
		<ol>
			<li><em>No rechaza nada de lo que en estas religiones haya de santo y verdadero.</em> <sup>(1)</sup></li>
			<li><em>Considera con sincero respeto [...] aquellos preceptos y doctrinas que, aunque difieran en muchos puntos de lo que [la Iglesia] misma sostiene [, a] veces reflejan un destello de aquella Verdad que ilumina a todos los hombres.</em> <sup>(1)</sup></li>
			<li>Exhorta a que sus hijos <em>reconozcan, guarden y promuevan aquellos bienes espirituales y morales [...] que en ellos existen [...].</em> <sup>(2)</sup></li>
		</ol>
		<!-- <li>Documentos de la Iglesia Católica, ambos del Concilio Vaticano II:</li> -->
		<ul>
			<li><em><sup>(1) </sup>Declaración <b>Nostra Aetate</b> (<em>En nuestro tiempo</em>) sobre la relación de la Iglesia con las religiones no cristianas, n. 2.</em></li>
			<li><em><sup>(2) </sup>Constitución pastoral <b>Gaudium et Spes</b> (<em>Gozo y esperanza</em>) sobre la Iglesia en el mundo actual, n. 92.</em></li>
		</ul>
		<li>Limitamos el catálogo de películas a aquellas que no están en conflicto con la tradición de la Iglesia Católica.</li>
	</ul>
</div>
