<div class="bloque">
	<h2>Nuestro Perfil de Películas</h2>
	<ul type="disc">
		<li>Películas con valores afines a los de la <b>Iglesia Católica Apostólica Romana</b>.</li>
		<li>Además, que no tengan ningún desvío, siendo los más comunes:</li>
		<ul>
			<% for (let motivo of motivosBlandos) { %>
			<li><em><%= motivo %>.</em></li>
			<% } %>
		</ul>
	</ul>
</div>
<div class="bloque">
	<h2>Aportes de los Usuarios</h2>
	<ul type="disc">
		<li><b>Alentamos a que los usuarios <u>influyan</u> en nuestro catálogo</b>.</li>
		<ul>
			<li>Revisamos los aportes antes de hacerlos públicos.</li>
			<li>Luego, le damos feedback al usuario sobre su resultado.</li>
		</ul>
		<li>Llevamos un historial por usuario, para conocer la confianza en sus aportes.</li>
	</ul>
</div>
